@model CommunityDetailsViewModel

<h2 class="text-center">Welcome to @Model.Name</h2>
<hr />

<partial name="_SidebarPartial" model="@Model" />

@section css {
    <link rel="stylesheet" href="~/css/sidebar.css" />
}

@section Scripts{
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/manageChat.js"></script>
}