@model ShoppingCartViewModel

@{
    int i = 0;
}

<section class="h-100" style="background-color: #eee;">
    <div class="container h-100 py-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-10">

                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h3 class="fw-normal mb-0 text-black">Shopping Cart</h3>
                </div>

                @foreach (var item in Model.Items)
                {
                    <div class="card rounded-3 mb-4">
                        <div class="card-body p-4">
                            <div class="row d-flex justify-content-between align-items-center">
                                <div class="col-md-2 col-lg-2 col-xl-2">
                                    <img src="@ViewBag.Base64StringCollection[i++]"
                                            class="img-fluid rounded-3" alt="Shopping Cart Item">
                                </div>
                                <div class="col-md-3 col-lg-3 col-xl-3">
                                    <p class="lead fw-normal mb-2">@item.Name</p>
                                </div>
                                <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                    <h5 class="mb-0">$@item.Price.ToString("0.00")</h5>
                                </div>
                                <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                    <a asp-controller="ShoppingCart" asp-action="Remove" asp-route-id="@item.Id" class="text-danger"><i class="fas fa-trash fa-lg"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                <div class="card mb-4">
                    <div class="card-body p-4 d-flex flex-row justify-content-center">
                        <div class="form-outline">
                            @if (Model.Items.Count() == 0)
                            {
                                <h2>YOUR CART IS EMPTY</h2>
                            }else{
                                <h2>TOTAL: $@Model.TotalPrice.ToString("0.00")</h2>
                            }
                        </div>
                    </div>
                </div>
                
                @if (Model.Items.Count() != 0)
                {
                    <div class="card">
                        <div class="card-body row d-flex justify-content-between align-items-center">
                            <a asp-controller="ShoppingCart" asp-action="Pay" class="btn btn-warning btn-block btn-lg">Proceed to Pay</a>
                        </div>
                    </div>
                }
                
            </div>
        </div>
    </div>
</section>